.App {
  text-align: center;
}

.color-pickers {
  position: absolute;
  top: 5px;
  left: 5px;
}

.color-pickers .color {
  width: 36px;
  height: 14px;
}

.color-pickers .swatch {
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
}


@media (max-width: 500px) {
  .color-pickers {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    margin-top: 5px;
  }

  .color-pickers .swatch {
    width: 98%;
    margin: 0 auto;
  }

  .color-pickers .color {
    width: 100%;
    height: 30px;
  }
}